<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Portal del Profesor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="volverLogin()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="portal-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Administración Docente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="button-container">
      <ion-col size="12">
        <ion-button expand="block" color="primary" class="action-button" (click)="generarQR()">
          <ion-icon slot="start" name="clipboard-outline"></ion-icon>
          Generar asistencia QR
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="secondary" class="action-button" (click)="verAsistencias()">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          Ver asistencias alumnos
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="tertiary" class="action-button" (click)="misCursos()">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          Ver mis cursos
        </ion-button>
      </ion-col>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
