<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Portal de asistencias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out" style="font-size: 1.5em;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-title class="ion-text-center">Bienvenid&#64; {{ nombreCompleto }}</ion-title>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="button-box" (click)="registrarAsistencia()">
          <ion-icon name="qr-code" slot="icon-only"></ion-icon>
          <ion-label>Registrar asistencia</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="button-box" (click)="irHorario()">
          <ion-icon name="calendar" slot="icon-only"></ion-icon>
          <ion-label>Mi horario</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="button-box" (click)="irMisAsistencias()">
          <ion-icon name="document" slot="icon-only"></ion-icon>
          <ion-label>Mis asistencias</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="button-box" (click)="irConfiguracion()">
          <ion-icon name="settings" slot="icon-only"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="latitud && longitud">
         <ion-label>Latitud: {{ latitud }}</ion-label>
        </ion-item>
        <ion-item *ngIf="longitud">
          <ion-label>Longitud: {{ longitud }}</ion-label>
        </ion-item>
        <ion-item *ngIf="direccion">
          <ion-label>Dirección: {{ direccion }}</ion-label></ion-item>
        <ion-item *ngIf="posicionError">
          <ion-label>{{ posicionError }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mapa de Ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="map" style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
    </ion-card-content>
  </ion-card>

  <div id="map" style="height: 300px;"></div>

</ion-content>
