<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-container">
        <span class="header-title">Portales Duoc UC</span>
        <img src="assets/logo.png" alt="Logo" class="logo" />
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="back-button" (click)="volverPortal()">
        <ion-icon name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="portal-container">
    <h2>Accede a Nuestros Portales</h2>
    <ion-list class="portal-list">
      <ion-item class="portal-item">
        <a href="https://campusvirtual.duoc.cl/" target="_blank">
          <ion-icon name="desktop" slot="start"></ion-icon>
          Ir al AVA
        </a>
      </ion-item>
      <ion-item class="portal-item">
        <a href="https://experienciavivo.duoc.cl/" target="_blank">
          <ion-icon name="happy" slot="start"></ion-icon>
          Ir a VivoDuoc
        </a>
      </ion-item>
      <ion-item class="portal-item">
        <a href="https://www.duoc.cl/" target="_blank">
          <ion-icon name="school" slot="start"></ion-icon>
          Ir a Duoc.cl
        </a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
