<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-container">
        <span class="header-title">Horario</span>
        <img src="assets/logo.png" alt="Logo" class="logo" />
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="back-button" (click)="volverPortal()">
        <ion-icon name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="schedule-container">
    <!-- Título principal del horario -->
    <h2 class="schedule-title">Tú Horario de Clases</h2>

    <ion-grid class="schedule-table">
      <!-- Títulos de las columnas -->
      <ion-row class="table-header">
        <ion-col>Hora</ion-col>
        <ion-col>Lunes</ion-col>
        <ion-col>Martes</ion-col>
        <ion-col>Miércoles</ion-col>
        <ion-col>Jueves</ion-col>
        <ion-col>Viernes</ion-col>
      </ion-row>

      <!-- Filas de horario -->
      <ng-container *ngFor="let bloque of bloques; let i = index">
        <ion-row class="table-row">
          <!-- Bloque de tiempo -->
          <ion-col>{{ bloque }}</ion-col>

          <!-- Clases por día -->
          <ng-container *ngFor="let dia of dias">
            <ion-col>{{ horarioEstructurado[dia][i] || '' }}</ion-col>
          </ng-container>
        </ion-row>
      </ng-container>
    </ion-grid>

    <ion-row>
      <ion-col>
        <ion-button expand="block"  (click)="descargarPdf()">
          Descargar horario en PDF
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
