.serious-text {
    font-family: 'Times New Roman', Times, serif; /* Cambia la fuente a una más seria */
    text-align: center; /* Centra el texto horizontalmente */
    text-justify: inter-word; /* Justifica el texto */
  }