<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperación de contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irLogin()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-list>
      <ion-text>
        <h1 class="serious-text">Escribe tú correo de DuocUC, se te enviará al correo institucional una contraseña temporal con la que podrás ingresar a la aplicación.</h1>
      </ion-text>
    </ion-list>
  </ion-card>



    <ion-card>

      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="username" label="Correo" placeholder="Ingrese su correo institucional" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-list>
  
      <ion-card>
        <ion-card-content>
          <ion-button expand="block" color="warning" (click)="validarRecuperacion()">RECUPERAR</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card>
</ion-content>
