.serious-text {
    font-family: 'Times New Roman', Times, serif; /* Cambia la fuente a una más seria */
    text-align: center; /* Centra el texto horizontalmente */
    text-justify: inter-word; /* Justifica el texto */
  }

  ion-item {
    --background: #f5f5f5;
    --border-radius: 8px;
  }
  
  ion-button {
    --border-radius: 8px;
    --padding: 10px 20px;
  }
  
  .recaptcha-container {
    margin-top: 15px;
    text-align: center;
  }
  