<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="lock-closed-outline"></ion-icon></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irLogin()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Tarjeta explicativa -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="medium">
        <p>Ingresa tu correo institucional de DuocUC. Te enviaremos un correo con las instrucciones para recuperar tu contraseña.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- Formulario de recuperación -->
  <ion-card>
    <ion-list>
      <!-- Input de correo con ícono -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="username" placeholder="Correo registrado..." type="email" required></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Tarjeta para el botón de enviar -->
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" color="primary" (click)="validarRecuperacion()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
