<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>{{tituloSuperior}}</h1>
      <h6>{{tituloInferior}}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    
  
  <ion-header class="ion-text-center ion-no-border">
    <ion-toolbar>
      <ion-title size="large">{{mensajeBienvenida}}</ion-title>
      <h6>{{mensajeCredenciales}}</h6>
    </ion-toolbar> 
  </ion-header> 

  <ion-list>
    <ion-item>
      <ion-input label="USUARIO" placeholder="Ingrese su nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="CONTRASEÑA" type="password" placeholder="Ingrese su contraseña" ></ion-input>
    </ion-item>
  </ion-list>

  </ion-card>
</ion-content>
